
@model IEnumerable<ETohumProject.DAL.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users</h2>
<p>
    @Html.ActionLink("New User", "New", "Home", null, new { @class = "btn btn-primary" })
</p>

<div class="table-responsive">
    <table id="user" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#user").DataTable({
                ajax: {
                    url: "/api/users",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, user) {
                            return "<a href='/home/details/" + user.id + "'>" + user.firstName +" " +user.lastName + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data,type,user) {
                            return "<a href='/home/edit/" + user.id + "'>Edit</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function(data) {
                            return "<button class='btn-link js-delete' data-user-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#user").on("click",".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this user?",
                    function() {
                        $.ajax({
                            url: "/api/users/" + button.attr("data-user-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    });
            });
        });
    </script>
}



